@{ ViewData["Title"] = "Index"; }

<h3>Welcome To .NET Core Assignment-2</h3>
  <h7>  By: Alaykumar Patel & Vyom Trivedi</h7>

<br />
<br />
<body> <br>
    <br />Amir Afrasiabi Rad! You are amazing at what you do! Your passion and dedication is beyond words! Thank you for getting us through this hard quick semester.

</body>